@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-internation-orange-hsl: 19, 100%, 50%;
  --color-white-smoke-hsl: 0, 0%, 96%;
  --color-gunmetal-hsl: 198, 13%, 20%;

  --primary-acent-hsl: var(--color-internation-orange-hsl);
  --background-hsl: var(--color-white-smoke-hsl);
  --foreground-hsl: var(--color-gunmetal-hsl);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-hsl: var(--color-gunmetal-hsl);
    --foreground-hsl: var(--color-white-smoke-hsl);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: hsla(var(--foreground-hsl), 1);
  background: hsla(var(--background-hsl), 1);
}

.sidebar-layout {
  display: grid;
  gap: 0;
  grid-template-rows: 4rem 6rem 6rem auto 6rem 4rem;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header" "sidebar"
    "top-widget" "main"
    "bottom-widget" "footer";
  height: max-content;
}

@media (min-width: 480px) {
  .sidebar-layout {
    display: grid;
    grid-template-rows: 4rem 6rem auto 6rem 4rem;
    grid-template-columns: 10rem auto auto;
    grid-template-areas:
      "header header header"
      "sidebar top-widget top-widget"
      "sidebar main main"
      "sidebar bottom-widget bottom-widget"
      "footer footer footer";
    height: 100vh;
  }
}

header {
  grid-area: header;
  background-color: aqua;
}

footer {
  grid-area: footer;
  background-color: blue;
}

nav {
  grid-area: sidebar;
  background-color: burlywood;
}

main {
  grid-area: main;
  background-color: chartreuse;
}

.top-widget {
  grid-area: top-widget;

  background-color: chocolate;
}

.bottom-widget {
  grid-area: bottom-widget;
  background-color: aquamarine;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
