@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-size-h1: 3.052rem;
  --font-size-h2: 2.441rem;
  --font-size-h3: 1.953rem;
  --font-size-h4: 1.563rem;
  --font-size-h5: 1.25rem;
  --font-size-base: 1rem;
  --font-size-s: 0.8rem;
  --font-size-xs: 0.64rem;

  --font-base: var(--font-jost);

  --air-0: 0;
  --air-1: 0.25rem;
  --air-2: 0.5rem;
  --air-3: 1rem;
  --air-4: 2rem;
  --air-5: 4rem;
  --air-6: 8rem;
  --air-7: 16rem;
  --air-8: 20rem;
  --air-9: 32rem;
  --air-10: 64rem;
  --air-11: 100rem;

  --color-aerospace-orange-hsl: 19, 100%, 50%;
  --color-aerospace-orange-800: 19, 100%, 80%;

  --color-brandeis-blue-hsl: 215, 95%, 51%;
  --color-brandeis-blue-800: 215, 96%, 81%;

  --color-white-smoke-hsl: 0, 0%, 96%;
  --color-white-smoke-70-hsl: 0, 0%, 21%;
  --color-gunmetal-hsl: 198, 13%, 20%;
  --color-gunmetal-90-hsl: 199, 11%, 27%;
  --color-gunmetal-50-hsl: 198, 9%, 62%;
  --color-gunmetal-20-hsl: 190, 12%, 90%;

  --color-primary-hsl: var(--color-brandeis-blue-hsl);
  --color-secondary-hsl: var(--color-aerospace-orange-hsl);
  --color-error-hsl: var(--color-artyclick-red-hsl);
  --color-warning-hsl: var(--color-chrome-yellow-hsl);

  --color-border-hsl: var(--color-gunmetal-20-hsl);

  --color-disabled-hsl: var(--color-gunmetal-50-hsl);
  --color-primary-disabled-hsl: var(--color-brandeis-blue-800);
  --color-secondary-disabled-hsl: var(--color-aerospace-orange-800);

  --color-background-hsl: var(--color-white-smoke-hsl);
  --color-foreground-hsl: var(--color-gunmetal-hsl);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background-hsl: var(--color-gunmetal-hsl);
    --color-foreground-hsl: var(--color-white-smoke-hsl);
    --color-border-hsl: var(--color-gunmetal-20-hsl);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: hsla(var(--color-foreground-hsl), 1);
  background: hsla(var(--color-background-hsl), 1);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
