@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-internation-orange-hsl: 19, 100%, 50%;
  --color-white-smoke-hsl: 0, 0%, 96%;
  --color-gunmetal-hsl: 198, 13%, 20%;

  --primary-acent-hsl: var(--color-internation-orange-hsl);
  --background-hsl: var(--color-white-smoke-hsl);
  --foreground-hsl: var(--color-gunmetal-hsl);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-hsl: var(--color-gunmetal-hsl);
    --foreground-hsl: var(--color-white-smoke-hsl);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: hsla(var(--foreground-hsl), 1);
  background: hsla(var(--background-hsl), 1);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
