.menu {
  position: fixed;
  background-color: hsla(var(--color-secondary-hsl), 1);
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  place-content: center space-between;
  border-radius: 0.5rem;
  z-index: 1;
  overflow: visible;

  -webkit-box-shadow: 2px 6px 10px -5px rgba(44, 54, 58, 0.43);
  -moz-box-shadow: 2px 6px 10px -5px rgba(44, 54, 58, 0.43);
  box-shadow: 2px 6px 10px -5px rgba(44, 54, 58, 0.43);
}

.menu header {
  display: flex;
  align-items: center;
  /* outline: thin dashed white; */
}

.toggler {
  /* outline: thin dashed white; */
  border: none;
  display: none;
}

.branding {
  display: none;
}

.links {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-evenly;
  padding: 1rem;
}

.links li a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links li svg {
  fill: hsla(var(--color-white-smoke-hsl), 1);
}

.links li a span {
  display: inline-block;
  font-size: var(--font-size-xs);
  color: hsla(var(--color-white-smoke-hsl), 1);
}

.tooltip {
  display: none;
}

.menu > footer {
  display: none;
  color: hsla(var(--color-white-smoke-hsl), 1);

  font-size: var(--font-size-xs);
  margin-bottom: 2rem;
  /* outline: thin dashed white; */
}

@media (width>= 480px) {
  .menu {
    position: fixed;
    top: 4rem;
    bottom: 4rem;
    left: 1.5rem;
    width: 4rem;
    flex-direction: column;
    align-items: flex-start;
    min-width: 4rem;
    height: clamp(420px, 80%, 87vh);
    overflow: visible;
  }

  .menu.expanded {
    width: 20rem;
  }

  .menu header {
    display: flex;
    gap: 0.8rem;
    height: 3rem;
    overflow: hidden;
    margin-top: 3rem;
    margin-bottom: 6rem;
    margin-left: 0.8rem;

    /* outline: thin dashed white; */
  }

  .toggler {
    /* outline: thin dashed white; */
    display: flex;
    color: hsla(var(--color-white-smoke-hsl), 1);
    border-radius: 4px;
    padding: 0.5rem;
  }

  .toggler:hover {
    background-color: hsla(var(--color-gunmetal-hsl), 1);
  }

  .branding {
    /* outline: thin dashed white; */
    display: none;
  }

  .menu.expanded .branding {
    display: flex;
    opacity: 1;
  }

  .links {
    /* outline: thin dashed white; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5rem;
    width: 100%;
    padding: 0 0.75rem;
    overflow: visible;
  }

  .links li {
    /* outline: thin dashed white; */
    color: hsla(var(--color-white-smoke-hsl), 1);
    border-radius: 4px;
    overflow: visible;
  }

  .links li:hover {
    background-color: hsla(var(--color-gunmetal-hsl), 1);
  }

  .links li a {
    /* outline: thin dashed white; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
  }

  .links a:hover {
  }

  .links li a span {
    /* outline: thin dashed white; */
    display: none;
    margin-left: 0.5rem;
    font-size: var(--font-size-base);
    opacity: 0;
  }

  .menu.expanded .links li a {
    /* display: flex; */
    font-size: var(--font-size-base);
  }
  .menu.expanded .links li a span {
    display: inline-block;
    opacity: 1;
  }
  .menu.expanded .links li .tooltip {
    display: none;
  }

  .links li:hover .tooltip {
    display: block;
  }
  .tooltip {
    display: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    background-color: hsla(var(--color-gunmetal-90-hsl), 1);
    color: hsla(var(--color-white-smoke-hsl), 1);
    text-align: center;
    border-radius: var(--air-1);
    position: absolute;
    z-index: 10;
    left: 3.5rem;
    padding: 0.5rem 1rem;
    margin-top: -2.5rem;
    font-size: var(--font-size-base) !important;

    -webkit-box-shadow: 2px 6px 10px -5px rgba(44, 54, 58, 0.43);
    -moz-box-shadow: 2px 6px 10px -5px rgba(44, 54, 58, 0.43);
    box-shadow: 2px 6px 10px -5px rgba(44, 54, 58, 0.43);
  }

  .tooltip::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 0%;
    margin-left: -9px;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent hsla(var(--color-gunmetal-90-hsl), 1) transparent
      transparent;
  }

  .menu > footer {
    /* outline: thin dashed white; */
    display: flex;
    font-size: var(--font-size-xs);
    margin-bottom: 1.5rem;
    margin-left: 0.8rem;
  }
}

@media (height <= 620px) and (width>= 480px) {
  .menu {
    top: 2rem;
    bottom: 4rem;
    left: 1.5rem;
    width: 4rem;
  }

  .menu header {
    margin-bottom: 2rem;

    /* outline: thin dashed white; */
  }
}
