.button {
  display: inline-block;
}

.default {
}
.primary {
  background-color: hsla(var(--primary-acent-hsl), 1);
  color: hsla(var(--foreground-hsl), 1);
}

.size-small {
}

.size-medium {
}

.size-large {
}
