.main-menu {
  background-color: hsla(var(--color-internation-orange-hsl), 1);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-radius: 8px;
  z-index: 1;
  overflow: hidden;

  justify-content: space-between;
  -webkit-box-shadow: 2px 6px 10px -5px rgba(44, 54, 58, 0.43);
  -moz-box-shadow: 2px 6px 10px -5px rgba(44, 54, 58, 0.43);
  box-shadow: 2px 6px 10px -5px rgba(44, 54, 58, 0.43);
}

.main-menu__header {
  display: flex;
  align-items: center;
  /* outline: thin dashed white; */
}

.main-menu__header__btn-toggle {
  /* outline: thin dashed white; */
  border: none;
  display: none;
  margin-right: 0.5rem;
}

.main-menu__header__branding {
  display: none;
}

.main-menu__Links {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-evenly;
}

.main-menu__Links li a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-menu__Links li span {
  display: inline-block;
  font-size: var(--font-size-xs);
  color: hsla(var(--color-white-smoke-hsl), 1);
}

.main-menu__footer {
  display: none;
  color: hsla(var(--color-white-smoke-hsl), 1);

  font-size: var(--font-size-xs);
  margin-bottom: 2rem;
  /* outline: thin dashed white; */
}

@media (min-width: 480px) {
  .main-menu {
    min-width: 4rem;
    min-height: 565px;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    position: fixed;
    top: 4rem;
    bottom: 4rem;
    left: 1.5rem;
    width: 4rem;
    height: 87vh;
    padding: 0 0 0 1rem;
    transition: width cubic-bezier(0.4, 0, 1, 1) 0.5s;
  }

  .main-menu.active {
    width: 300px;
  }

  .main-menu__header {
    display: flex;
    /* outline: thin dashed white; */
    margin-top: 3rem;
    margin-bottom: 6rem;
    margin-left: 0.25rem;
  }

  .main-menu__header__btn-toggle {
    /* outline: thin dashed white; */
    display: flex;
  }

  .main-menu__header__branding {
    display: flex;
    opacity: 0;
    transition: opacity cubic-bezier(0.53, 0.04, 0.68, 0.19) 0.2s 0s;
  }

  .main-menu.active .main-menu__header__branding {
    opacity: 1;
  }

  .main-menu__Links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 2;
    gap: 0.5rem;
    padding: 0 0 0 0.2rem;
  }

  .main-menu__Links li a {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .main-menu__Links li span {
    /* display: none; */
    margin-left: 0.5rem;
    font-size: var(--font-size-base);
    opacity: 0;
    transition: opacity cubic-bezier(0.53, 0.04, 0.68, 0.19) 0.3s 0.1s;
  }

  .main-menu.active .main-menu__Links li span {
    /* display: inline-block; */
    opacity: 1;
  }

  .main-menu__footer {
    display: flex;
    font-size: var(--font-size-xs);
    margin-bottom: 1.5rem;
    /* outline: thin dashed white; */
  }
}
